//
   Created by vasiliy.lomanov on 14.07.2014.

extends layout
block content
    h1= title

    h3#state.well Disconnected
    .col-lg-2.well
        ul#slavesList

    .col-lg-3
        include  videoControl.jade

    script(type='text/javascript' src='javascripts/Media.js')
    script(type='text/javascript' src='javascripts/RTCMaster.js')