//
   Created by vasiliy.lomanov on 14.07.2014.

extends layout
block content
    h1=title
    h3#state.well.pre-scrollable Disconnected
    .col-lg-3.well
        .row
            input#connect(type='button' value='Connect' disabled='true')
            input#call(type='button' value='Call' disabled='true')
        .row
            input#login(type='text' placeholder='Представьтесь' disabled='true' value='anonymous' maxlength='40')
            input#send(type='button' value='Apply' disabled='true')
    .col-lg-3
        include  videoControl.jade

    script(type='text/javascript' src='javascripts/Media.js')
    script(type='text/javascript' src='javascripts/RTCSlave.js')
